**1. Write a program that displays Welcome to Python, Welcome to Engineering, and Programming is fun on the screen.**

In [ ]:
print("Welcome to Python, Welcome to Engineering,and Programming is fun")

Welcome to Python, Welcome to Engineering,and Programming is fun

**2. Write a program that displays the result 2 + 15 * 2 / 2:**

In [ ]:
result = 2+15*2/2
print(f"The result is {result}")

The result is 17.0

 **Task 3**

In [ ]:
result = (9.5 * 4.5 - 2.5 * 3) / (45.5 - 3.5)
print(f"The result is {result}")

The result is 0.8392857142857143

**4. Add parentheses to the expression 6*1-2 to change its value from 4 to -6.**

In [ ]:
result = 6 *(1-2)
print(f"The result is {result}")

The result is -6

**5. Write a program that displays the area and perimeter of a rectangle with the width of
4.9 and height of 7.5 using the following formulas:**

In [ ]:
width = 4.9
height = 7.5
Area = width * height
perimeter = 2 * width + 2 * height
print(f"The AREA of Rectangle is {Area}")
print(f"The PERIMETER of Rectangle is {perimeter}")

The AREA of Rectangle is 36.75
The PERIMETER of Rectangle is 24.8

**6. Write a program that reads a Celsius degree as input and converts it to Fahrenheit
and displays the result. The formula for the conversion is as follows:**

In [ ]:
celsius = float(input("ENTER CELSIUS DEGREE : "))
ft = (9/5) * celsius + 32
print(f"Result is {ft}")

ENTER CELSIUS DEGREE : 34
Result is 93.2

**7. Write a program that converts miles into kilometers. Use the following algorithm:**                       
. Use a variable named miles that read value from keyboard.    
. Multiply miles by 1.609 and assign it to a variable named kilometers.  
. Print the value of kilometers.

In [ ]:
miles =float(input("ENTER MILES : "))
km = miles * 1.609
print(f"KILOMETERS : {km}")

ENTER MILES : 100
KILOMETERS : 160.9

**8. Write a program that reads in the radius and height of a cylinder and computes the
area and volume.**

In [ ]:
import math

radius = float(input("ENTER RADIUS OF CYLINDER : "))
height = float(input("ENTER HEIGHT OF CYLINDER : "))

area = (2 * math.pi * (radius ** 2)) + (2 * math.pi * radius * height)
volume = math.pi * (radius ** 2) * height

print(f"THE AREA OF CYLINDER IS {area}")
print(f"THE VOLUME OF CYLINDER IS {volume}")

ENTER RADIUS OF CYLINDER : 3
ENTER HEIGHT OF CYLINDER : 5
THE AREA OF CYLINDER IS 150.79644737231007
THE VOLUME OF CYLINDER IS 141.3716694115407


# LAB TASK 2

**1. Assume that a = 1, and that each expression is independent. What are the results of the following expressions?**

In [ ]:
a = 1

a += 4
print(a)

a = 1
a -= 4
print(a)

a = 1
a *= 4
print(a)

a = 1
a /= 4
print(a)

a = 1
a /= 4.0
print(a)

a = 1
a %= 4
print(a)

a = 1
a = 56 * a + 6
print(a)

5
-3
4
0.25
0.25
1
62

**2. What does a conversion from a float to an integer do with the fractional part of
the float value? Does the int(value) function change the variable value?t**

=>  while converting float to integer . the fractional part is discarded . it means that 5.9  becomes 5

=>  int(value)  does not change the original value

In [ ]:
x = 5.9
y = int(x)

print(x)
print(y)

5.9
5

**3. Write a program that prompts the user to enter three integers and displays the numbers
in reverse order. The expected output is shown below:**

In [ ]:
a = int(input("ENTER FIRST NUBER : "))
b = int(input("ENTER FIRST NUBER : "))
c = int(input("ENTER FIRST NUBER : "))

maxi = max(a,b,c)
mini = min(a,b,c)
mid = a + b + c - maxi - mini

print(f"NUMBERS in Sorted Order {mini,mid,maxi}")

ENTER FIRST NUBER : 5
ENTER FIRST NUBER : 4
ENTER FIRST NUBER : 3
NUMBERS in Sorted Order (3, 4, 5)

**4. Write a program that prompts the user to enter the side of a hexagon and displays
its area. The formula for computing the area of a hexagon is written below, where s
is the length of a side.**

In [ ]:
import math
s = float(input("ENTER SIDE OF HEXAGON : "))
area = ((3 * math.sqrt(3)) / 2 )* (s ** 2)
print(f"The AREA OF HEXAGON IS {area}")

ENTER SIDE OF HEXAGON : 7.5
The AREA OF HEXAGON IS 146.14178688862404