In [1]:
import pandas as p

# Read Data From CSV file to Data frame

In [12]:
data = p.read_csv("sales_data_sample.csv", encoding="latin1")
print(data)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns]

In [15]:
data_excel = p.read_excel("SampleSuperstore.xlsx")
print(data_excel)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]

In [17]:
json_data = p.read_json("sample_Data.json")
print(json_data)

    id                                               name  \
0    1                                    Apple iPhone 12
1    2                                 Samsung Galaxy S21
2    3                                 Sony PlayStation 5
3    4                  LG OLED55CXPUA 55-inch 4K OLED TV
4    5        Bose QuietComfort 35 II Wireless Headphones
5    6                          Fitbit Versa 3 Smartwatch
6    7                             KitchenAid Stand Mixer
7    8                 Dyson V11 Absolute Cordless Vacuum
8    9                         Ninja Foodi Smart XL Grill
9   10                    Canon EOS Rebel T8i DSLR Camera
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
16  17                        Keurig K-Elite Coffee Maker
17  18                     iRobot Roomba i7+ Robot Vacuum
18  19                   Ninja Foodi Digital Air Fry Oven
19  20                   Cuisinart ICE-70 Ice Cream Maker

                                          description    price  \
0   The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1   The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2   The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3   The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4   The Bose QuietComfort 35 II Wireless Headphone...   299.00
5   The Fitbit Versa 3 Smartwatch features a built...   229.95
6   The KitchenAid Stand Mixer features a 5-quart ...   399.99
7   The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8   The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9   The Canon EOS Rebel T8i DSLR Camera features a...   899.00
10  The Apple AirPods Pro feature active noise can...   249.00
11  The Bose QuietComfort 35 II Wireless Headphone...   299.00
12  The Fitbit Charge 4 Fitness Tracker features G...   129.95
13  The Samsung Galaxy Watch3 features a rotating ...   399.99
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...   349.99
15  The Breville Barista Express Espresso Machine ...   699.95
16  The Keurig K-Elite Coffee Maker features a str...   169.99
17  The iRobot Roomba i7+ Robot Vacuum features au...   799.99
18  The Ninja Foodi Digital Air Fry Oven features ...   209.99
19  The Cuisinart ICE-70 Ice Cream Maker features ...   139.99

           category                                              image
0       Electronics  https://www.apple.com/newsroom/images/product/...
1       Electronics  https://images.samsung.com/is/image/samsung/p6...
2       Electronics  https://www.sony.com/image/44baa604124b770c824...
3       Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4       Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5       Electronics  https://www.fitbit.com/global/content/dam/fitb...
6    Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7   Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8    Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9       Electronics  https://www.canon.com.au/-/media/images/produc...
10      Electronics  https://www.apple.com/v/airpods-pro/b/images/m...
11      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
12      Electronics  https://www.fitbit.com/global/content/dam/fitb...
13      Electronics  https://images.samsung.com/is/image/samsung/as...
14      Electronics  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15   Home & Kitchen  https://www.breville.com/content/dam/breville/...
16   Home & Kitchen  https://www.keurig.com/content/dam/global-ecom...
17   Home & Kitchen  https://store.irobot.com/default/i7-vacuuming-...
18   Home & Kitchen  https://www.ninjakitchen.com/static/img/produc...
19   Home & Kitchen  https://www.cuisinart.com/share/images/product...

## Hud sy DataFrame Bna k CSV ma save kro

In [20]:
data  = {
    "Name" : ['Shuban', 'Taimoor', 'Huzaifa'],
    "Age" : [20, 21, 19],
    "City" : ["Mansehra", "Kahuta", "Rawalpindi"]
}

df = p.DataFrame(data)
print(df)

#
df.to_csv("Data.csv", index=False)

      Name  Age        City
0   Shuban   20    Mansehra
1  Taimoor   21      Kahuta
2  Huzaifa   19  Rawalpindi

## Excel/Json File ma Save krty hain

In [22]:
df.to_excel("Data.xlsx", index=False)
df.to_json("Data.json", indent=False)

* Understand the data set
* Identify the problems
* Plan next steps

## Rows

# head(para) show krta ha para rows ko 
# tail(para) show krta ha para last rows 
# def jo ha wo 5 ha

In [28]:
json_data.head(10)

,id,name,description,price,category,image
0,1,Apple iPhone 12,The Apple iPhone 12 features a 6.1-inch Super ...,999.00,Electronics,https://www.apple.com/newsroom/images/product/...
1,2,Samsung Galaxy S21,The Samsung Galaxy S21 features a 6.2-inch Dyn...,799.00,Electronics,https://images.samsung.com/is/image/samsung/p6...
2,3,Sony PlayStation 5,The Sony PlayStation 5 features an AMD Zen 2-b...,499.99,Electronics,https://www.sony.com/image/44baa604124b770c824...
3,4,LG OLED55CXPUA 55-inch 4K OLED TV,The LG OLED55CXPUA 55-inch 4K OLED TV features...,1599.99,Electronics,https://www.lg.com/us/images/tvs/md07501804/ga...
4,5,Bose QuietComfort 35 II Wireless Headphones,The Bose QuietComfort 35 II Wireless Headphone...,299.00,Electronics,https://assets.bose.com/content/dam/Bose_DAM/W...
5,6,Fitbit Versa 3 Smartwatch,The Fitbit Versa 3 Smartwatch features a built...,229.95,Electronics,https://www.fitbit.com/global/content/dam/fitb...
6,7,KitchenAid Stand Mixer,The KitchenAid Stand Mixer features a 5-quart ...,399.99,Home & Kitchen,https://www.kitchenaid.com/content/dam/global/...
7,8,Dyson V11 Absolute Cordless Vacuum,The Dyson V11 Absolute Cordless Vacuum feature...,699.99,Home Appliances,https://www.dysoncanada.ca/dam/dyson/images/pr...
8,9,Ninja Foodi Smart XL Grill,The Ninja Foodi Smart XL Grill features 6-in-1...,279.99,Home & Kitchen,https://www.ninjakitchen.com/medias/Ninja-OP50...
9,10,Canon EOS Rebel T8i DSLR Camera,The Canon EOS Rebel T8i DSLR Camera features a...,899.00,Electronics,https://www.canon.com.au/-/media/images/produc...

In [29]:
json_data.tail()

,id,name,description,price,category,image
15,16,Breville Barista Express Espresso Machine,The Breville Barista Express Espresso Machine ...,699.95,Home & Kitchen,https://www.breville.com/content/dam/breville/...
16,17,Keurig K-Elite Coffee Maker,The Keurig K-Elite Coffee Maker features a str...,169.99,Home & Kitchen,https://www.keurig.com/content/dam/global-ecom...
17,18,iRobot Roomba i7+ Robot Vacuum,The iRobot Roomba i7+ Robot Vacuum features au...,799.99,Home & Kitchen,https://store.irobot.com/default/i7-vacuuming-...
18,19,Ninja Foodi Digital Air Fry Oven,The Ninja Foodi Digital Air Fry Oven features ...,209.99,Home & Kitchen,https://www.ninjakitchen.com/static/img/produc...
19,20,Cuisinart ICE-70 Ice Cream Maker,The Cuisinart ICE-70 Ice Cream Maker features ...,139.99,Home & Kitchen,https://www.cuisinart.com/share/images/product...

## Structure of the Data

In [30]:
json_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

## Describe Method

In [3]:
# step 1 sample data frame
data = {
    "Names" : ['Shuban', 'Taimoor', 'Huzaifa', 'Hadia', 'Ali', 'Muneeb', 'Tuba', 'Warda'],
    "Age" : [19,20,18,21,22,20, 21, 22],
    "Salary" : [250000, 200000, 100000, 80000, 90000, 100000, 50000, 60000],
    "Performance" : [99,95,85,80,85,90,70,75]
}

df = p.DataFrame(data)
print(df)
print("\n\n")
print("Descriptive Statistics\n\n")
print(df.describe())

     Names  Age  Salary  Performance
0   Shuban   19  250000           99
1  Taimoor   20  200000           95
2  Huzaifa   18  100000           85
3    Hadia   21   80000           80
4      Ali   22   90000           85
5   Muneeb   20  100000           90
6     Tuba   21   50000           70
7    Warda   22   60000           75



Descriptive Statistics


             Age         Salary  Performance
count   8.000000       8.000000     8.000000
mean   20.375000  116250.000000    84.875000
std     1.407886   70698.050084     9.789754
min    18.000000   50000.000000    70.000000
25%    19.750000   75000.000000    78.750000
50%    20.500000   95000.000000    85.000000
75%    21.250000  125000.000000    91.250000
max    22.000000  250000.000000    99.000000

## Manipulation
* How big is your dataset
* What are the names of columns

In [4]:
# shape and columns
data = {
    "Names" : ['Shuban', 'Taimoor', 'Huzaifa', 'Hadia', 'Ali', 'Muneeb', 'Tuba', 'Warda'],
    "Age" : [19,20,18,21,22,20, 21, 22],
    "Salary" : [250000, 200000, 100000, 80000, 90000, 100000, 50000, 60000],
    "Performance" : [99,95,85,80,85,90,70,75]
}

df = p.DataFrame(data)
print(df)
print("\n\n")
print("Shape : ", (df.shape))
print("Column Names : ", df.columns)

     Names  Age  Salary  Performance
0   Shuban   19  250000           99
1  Taimoor   20  200000           95
2  Huzaifa   18  100000           85
3    Hadia   21   80000           80
4      Ali   22   90000           85
5   Muneeb   20  100000           90
6     Tuba   21   50000           70
7    Warda   22   60000           75



Shape :  (8, 4)
Column Names :  Index(['Names', 'Age', 'Salary', 'Performance'], dtype='object')

# Select Specific Column and Filter rows

# Problems
* select specific column( using sq brackets )
* filter rows  ( using boolen )
* combine multiple conditions

In [13]:
columns = df['Names']
print(columns)

0     Shuban
1    Taimoor
2    Huzaifa
3      Hadia
4        Ali
5     Muneeb
6       Tuba
7      Warda
Name: Names, dtype: object

In [16]:
name_salary = df[['Names', 'Salary']]
print(name_salary)

     Names  Salary
0   Shuban  250000
1  Taimoor  200000
2  Huzaifa  100000
3    Hadia   80000
4      Ali   90000
5   Muneeb  100000
6     Tuba   50000
7    Warda   60000

In [21]:
filtered = df[(df['Salary'] > 70000) & (df['Salary'] < 200000)]
print(filtered)

     Names  Age  Salary  Performance
2  Huzaifa   18  100000           85
3    Hadia   21   80000           80
4      Ali   22   90000           85
5   Muneeb   20  100000           90

In [25]:
print(df[df['Names'] == 'Shuban'])

    Names  Age  Salary  Performance
0  Shuban   19  250000           99

In [31]:
# salary > 50k and age is less than 20
filtered = df[(df['Age'] < 20) & (df['Salary'] > 50000)]
print(filtered)

     Names  Age  Salary  Performance
0   Shuban   19  250000           99
2  Huzaifa   18  100000           85

In [34]:
# salary < 100k and age is less than 20
filtered = df[(df['Age'] < 20) | (df['Salary'] < 65000)]
print(filtered)

     Names  Age  Salary  Performance
0   Shuban   19  250000           99
2  Huzaifa   18  100000           85
6     Tuba   21   50000           70
7    Warda   22   60000           75